.column-checklist-container{
    background: #eceff1;
}

.section-container{
    padding: 5%;
}

.hero-container{
    background: #b2dfdb;
}

.subtitle{
    font-size: 0.8rem;
}

.section-title-container{
    padding-bottom: 2em;
}