.column-checklist-container{
    background: #eceff1;
}

.section-container{
    padding: 5vmax;
}

.hero-container{
    background: #b2dfdb;
    padding: 5vmax;
    height: 50vh;
}

.subtitle{
    font-size: 0.8rem;
}

.section-title-container{
    padding-bottom: 2em;
}

.instruction-container{
    margin: 5vmin;
}